# Directories

node_modules/
build/
htmlcov/*
dist/
coverage/

# Files

package-lock.json
yarn.lock
*.log
*.md
*.txt

# TypeScript

*.d.ts

# React

*.js
*.jsx

# Node.js

*.js
*.ts

# Others
*.json
*.html
*.css

