version: "3.3"

services:
  db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  svc:
    build: .
    command: bash -c "python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/workarea
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    depends_on:
      - db

  ui:
    restart: always
    build:
      context: ./frontend/
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/workarea/frontend
    command: npm start
    ports:
      - "3000:3000"
    stdin_open: true
    depends_on:
      - svc
# networks:
#   db-net:
#     driver: bridge
